.nav-link {
    color: black;
}

.navbar-brand {
    font-size: x-large;
}

.navbar-brand-01 {
    font-size: large;
}

.navbar-brand-02 {
    font-size: medium;
}

.alert-safe {
    color: #2725A4;
    background-color: #D7EBF8;
    border-color: #D7EBF8;
}
